modules = ["dotnet"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "VoltBettaManagerApp"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "run_app"

[[workflows.workflow]]
name = "VoltBettaManagerApp"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet run"
waitForPort = 5000

[[workflows.workflow]]
name = "run_app"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet run"

[deployment]
run = ["sh", "-c", "dotnet run"]
