modules = ["dotnet", "nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Build Android APK"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "VoltBettaManagerApp"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "run_app"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "VoltBettaApp"

[[workflows.workflow]]
name = "VoltBettaManagerApp"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet run"
waitForPort = 5000

[[workflows.workflow]]
name = "run_app"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet run"

[[workflows.workflow]]
name = "VoltBettaApp"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd VoltBettaApp && node run.js"
waitForPort = 5000

[[workflows.workflow]]
name = "Build Android"
author = 38797021
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd VoltBettaApp && npx expo prebuild && npx expo build:android"

[[workflows.workflow]]
name = "Run VoltBetta"
author = 38797021
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd VoltBettaApp && node run.js"

[[workflows.workflow]]
name = "Run Expo"
author = 38797021
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd VoltBettaApp && npm install && npx expo start --web"

[[workflows.workflow]]
name = "Build Android APK"
author = 38797021
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd VoltBettaApp && npm install && npx expo install expo-dev-client && npx expo prebuild && npx expo build:android"

[deployment]
run = ["sh", "-c", "dotnet run"]

[[ports]]
localPort = 5000
externalPort = 80
